/* div {
    border: solid 1px black;
    margin-right: 0px;
    margin-left: 0px;
    
} */
html {
  padding: 0px;
  position: relative;
  min-height: 100%;
}
body {
  background-color: #0072ff;
  padding-bottom: 120px;
}
#attackButton {
  margin-top: 10%;
}
#blows {
  height: 100px;
  overflow: hidden;
}
.pic {
  position: relative;
}
.hp {
  position: absolute;
  text-align: center;
  background-color: rgba(205, 241, 255, 0.513);
  left: 0;
  right: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  border-radius: 0rem;
  color: rgb(230, 230, 230);
}
#rotate {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    display: none;
    width: 100%;
}
@media all and (orientation: portrait) {
  #rotate {
    display: block;
  }
}
